

name: "Set Issue Label"
on:
  issues:
    types: [opened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: debug
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["QGIS Version: 3.4"]'
          labels: '["3.4"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["QGIS Version: 3.10"]'
          labels: '["3.10"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - uses: Naturalclar/issue-action@v1.0.0
        with:
          keywords: '["QGIS Version: 3.12"]'
          labels: '["3.12"]'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
